# Xcode

## Build generated
build/

## Various settings
Tung.xcodeproj/project.xcworkspace/xcuserdata/Jamie.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa

# Frameworks
Crashlytics.framework
Fabric.framework